*{
	margin:0px;
	padding:0px;
}
body{
	font-size:12px;
}
ul{
	list-style: none;
}
img{
	vertical-align: top;
}
/*top start here*/
#top{
	background: url(../images/top_01.gif) repeat-x;
	position: relative;
	height: 112px;
}
.box1000{
	width: 1000px;
	margin:0 auto;
}
#top .box1000 .link{
	float:right;
	margin-top: -85px;
	margin-right:10px;
	padding: 10px;
}
#top .box1000 .link a{
	display: inline-block;
	color:#656565;
	text-decoration: none;
}
#top .box1000 .nav{
	text-align: center;
	position: absolute;
	top:82px;
}
#top .box1000 .nav li{
	float:left;
	background: url(../images/top_03.gif) no-repeat;
	width:110px;
}
#top .box1000 .nav a{
	display: inline-block;
	width:90px;
	height:30px;
	padding-top:10px;
	text-decoration: none;
	color:#000;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-top:-5px;
}
#top .box1000 .nav a:hover{
	background: url(../images/top_07.gif) no-repeat;
	color:#fff;
}
/*top end here and banner start here*/
#banner{
	position: relative;
	background: url(../images/banner_02.gif);
	height:309px;
}
#banner .dot{
	position: absolute;
	top:280px;
	left:50%;
	margin-left:-30px; 
	*display: block;
	*float:left;
	*margin-left: -480px;
}
#banner .dot span{
	background: url(../images/dot_06.png) no-repeat;
	display:inline-block;
	width:10px;
	height: 9px;
	margin-right:5px; 
}
/*banner end here and footer start here*/
#footer{
	clear:both;
	background: url(../images/footer_02.gif) repeat-x #f2f2f2;
	position: relative;
	top:35px;
	border-top: 3px solid #01578e;
}
#footer .link{
	margin-top: 40px;
	margin-bottom:10px;
}
#footer .link a{
	text-decoration: none;
	color:#1469c1;
	margin:0 4px;
}
#footer span{
	color:#636363;
	padding-bottom: 50px;
	display: block;
}
#footer .box1000{
	position: relative;
	
}
#footer .img img{
	position: absolute;
	right:30px;
	top:-10px;	
}
/*二级菜单*/
.nav #box{
	position: absolute;
	z-index: 1000;
	/*clear: both;*/
	display: none;
	width:300px;
}
#top .box1000 .nav .ej ul li{
	float: none;
	width: 110px;
	height: 30px;
	position: relative;
	line-height: 30px;
}
#top .box1000 .nav .ej #box a{
	margin: 0px;
	padding:0px;
}
#top #box ul.nav3{
	display: none;
	position: absolute;
	left:110px;
	top:0px;
}